h1 {
    text-align: center;
}

h1 {
    color: rgba(0, 0, 255, 0.689);
}

p {
    text-align: center;
}

p {
    font-size: 30px;
}


img {
    width: 500px;
    display: block;
    margin: 0 auto;

}

body {
    background-color: #eaf8ff;
}

.botao {
    display: block;
    width: 250px;
    margin: 50px auto;
    padding: 15px auto;


    background-color: #0096c7;
    color: white;

    text-align: center;
    text-decoration: none;

    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;

    transition: 0.3s;

}

.card {
    width: 550px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 15px

}

.titulo-pais {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: darkblue;


}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-size: 14px;
}
