
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --fonte-principal: 'Poppins', sans-serif;

    --cor-principal: #fff;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
}

p {
    font-size: 30px;
}


img {
    width: 500px;
    display: block;
    margin: 0 auto;

}

body {
    background-color: #FFF;
    height: 100vh;
}


.card {
    width: 390px;
    margin: 50px auto;
    padding: 0px;
    border-radius: 18px;
    height: 450px;
    background-color: var(--cor-principal);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);

}

.titulo-pais {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: darkblue;


}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

#titulo-principal {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

h5 {
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.saiba-mais {
    background-color: #4382DF;
    color: white;
    padding: 12px 24px;
    margin: 20px auto;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: fit-content;
    font-size: 15px;
}

.hero {
    min-height: 90vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35)
    ), url("img/hero.jpg");

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introducao {
    font-size: 25px;
    display: flex;
    margin: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.resposta {
    font-size: 18px;
}

.Destinos {
    margin: 20px;
    font-size: 25px;
}

.descricao {
    font-size: 14px;
    font-family: var(--fonte-principal);
}